/* Глобальні налаштування */

body {
	color: #434455;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	max-width: 1440px;
	margin: 0 auto;
}

h1 {
	font-size: 56px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 36px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: capitalize;
}

h3 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

button {
	font-family: inherit;
	cursor: pointer;
	display: block;
	padding: 0;
}

img {
	display: block;
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

/* Хедер */

.header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;
	align-items: center;
}

.header-logo {
	color: #4d5ae5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 76px;
}

.header-span-logo {
	color: #2e2f42;
}

.header-list {
	display: flex;
	gap: 40px;
}

.header-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-item-link {
	color: #2e2f42;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: block;
	padding: 23px 0;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link:hover,
.header-item-link:focus {
	color: #404bbf;
}

.header-item-link:hover::after,
.header-item-link:focus::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 4px;
	background-color: #404bbf;
	border-radius: 2px;
}

/* Контакти */

address {
	font-style: inherit;
	margin-top: 24px;
}

.address-list {
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: flex;
	gap: 40px;
}

.address-item-box {
	color: #434455;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-box:hover,
.address-item-box:focus {
	color: #404bbf;
}

/* Секція Main */

.main {
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/section-1/people-office.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 188px 0;
}

.section-main-title {
	color: #fff;
	line-height: 1.07;
	letter-spacing: 0.02em;
	max-width: 496px;
	margin: 0 auto;
}

.button {
	color: #fff;
	background-color: #4d5ae5;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	margin: 48px auto 0;
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
	background-color: #404bbf;
}

/* Секція Ways */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.ways-list {
	display: flex;
	gap: 24px;
}

.ways-item {
	flex-basis: calc((100% - 72px) / 4);
}

.ways-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 112px;
	margin-bottom: 8px;
	border-radius: 4px;
	border: 1px solid #8e8f99;
	background-color: #f4f4fd;
}

.ways-item-title {
	color: #2e2f42;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}

.ways-item-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Секція Team */

.team {
	background-color: #f4f4fd;
}

.team-title {
	color: #2e2f42;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.team-list {
	background-color: #fff;
	display: flex;
	gap: 24px;
}

.team-item {
	text-align: center;
	width: calc((100% - 72px) / 4);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
	padding: 32px 0;
}

.team-item-title {
	color: #2e2f42;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: 8px;
}

.team-item-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	padding-bottom: 8px;
}

.team-icons-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-icons-item {
	width: 40px;
	height: 40px;
}

.team-icons-link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
	background-color: #404bbf;
}

.team-icons {
	fill: #f4f4fd;
}

/* Секція Portfolio */

.portfolio-title {
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
}

.portfolio-item {
	width: calc((100% - 48px) / 3);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-hover {
	position: relative;
	overflow: hidden;
}

.portfolio-item:hover,
.portfolio-item:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	transform: translateY(0%);
}

.overlay-text {
	color: #f4f4fd;
	background-color: #4d5ae5;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 40px 32px 164px;
	position: absolute;
	top: 0;
	padding: 40px 32px;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
	transform: translateY(0);
}

.portfolio-text {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
}

.portfolio-item-title {
	color: #2e2f42;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}

.portfolio-item-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Футер */

.footer {
	background-color: #2e2f42;
	padding: 100px 0;
}

.footer-container {
	display: flex;
	align-items: baseline;
}

.footer-container-left {
	margin-right: 120px;
}

.footer-logo {
	color: #4d5ae5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 16px;
}

.footer-span-logo {
	color: #f4f4fd;
}

.footer-text {
	color: #f4f4fd;
	line-height: 1.5;
	letter-spacing: 0.02em;
	max-width: 264px;
}

.footer-container-center {
	margin-right: 80px;
}

.footer-social {
	color: #fff;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}

.footer-icons-list {
	display: flex;
	gap: 16px;
}

.footer-icons-item {
	width: 40px;
	height: 40px;
}

.footer-icons-link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
	background-color: #31d0aa;
}

.footer-icons {
	fill: #f4f4fd;
}

.footer-subscribe {
	color: #fff;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}

.footer-form {
	display: flex;
	gap: 24px;
}

.subscribe-input {
	color: #fff;
	background-color: transparent;
	width: 264px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding-left: 16px;
}

.subscribe-button {
	color: #fff;
	background-color: #4d5ae5;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 165px;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
	background-color: #404bbf;
}

.subscribe-icon {
	margin-left: 16px;
	fill: #fff;
}

/* Для автоперевірки */

/* .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .backdrop.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
} */

/* .modal {
	background-color: #fcfcfc;
	position: absolute;
	width: 100%;
	height: 100%;
	width: 408px;
	min-height: 584px;
	border-radius: 4px;
	padding: 72px 24px 24px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Модальне вікно */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	background-color: #fcfcfc;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 408px;
	max-height: 584px;
	border-radius: 4px;
	padding: 72px 24px 24px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
	transform: scale(0);
}

.modal-close {
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
	background-color: #404bbf;
	border: none;
}

.icon-container-close {
	fill: #2e2f42;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-container-close,
.modal-close:focus .icon-container-close {
	fill: #ffffff;
}

.modal-title {
	color: #2e2f42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
	text-align: center;
}

.modal-form {
	margin-bottom: 8px;
}

.modal-container {
	margin-bottom: 8px;
}

.modal-label {
	color: #8e8f99;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.04em;
	display: block;
	margin-bottom: 4px;
}

.icon-container {
	position: relative;
}

.modal-input {
	width: 100%;
	height: 40px;
	border: none;
	border: 1px solid rgba(46, 47, 66, 0.4);
	background-color: transparent;
	padding-left: 38px;
	border-radius: 4px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:focus + .modal-icon {
	border-color: #4d5ae5;
	fill: #4d5ae5;
}

.modal-container-last {
	margin-bottom: 16px;
}

.modal-textarea {
	color: rgba(46, 47, 66, 0.4);
	background-color: transparent;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.04em;
	display: block;
	padding: 8px 16px;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	outline: transparent;
	resize: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
	border-color: #4d5ae5;
}

.modal-checkbox {
	margin-bottom: 24px;
}

.modal-checkbox-label {
	color: #8e8f99;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.04em;
}

.modal-span {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	fill: transparent;
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-span {
	background-color: #404bbf;
	border: none;
	fill: #f4f4fd;
	border-color: #404bbf;
}

.modal-link {
	color: #4d5ae5;
	text-decoration: underline;
}

.modal-button {
	color: #fff;
	background-color: #4d5ae5;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	min-width: 169px;
	height: 56px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	text-align: center;
	border: none;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
	background-color: #404bbf;
}
